In [1]:
# Imports

import pandas as pd

In [2]:
df = pd.read_csv('/Users/briandunn/Desktop/Large Data Files/Iowa_Liquor_Sales/data/Iowa_Liquor_Sales.csv', engine='c')

df

/var/folders/93/v_c2ph_17t97zdkzc4_ccjtw0000gn/T/ipykernel_48753/2448435489.py:1: DtypeWarning: Columns (6,14,18,19,20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/briandunn/Desktop/Large Data Files/Iowa_Liquor_Sales/data/Iowa_Liquor_Sales.csv', engine='c')

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Iowa ZIP Code Tabulation Areas,Iowa Watershed Sub-Basins (HUC 08),Iowa Watersheds (HUC 10),County Boundaries of Iowa,US Counties
0,INV-07718300026,10/05/2017,4091,FAREWAY STORES #705 / CLEAR LAKE,910 HWY 18 W,CLEAR LAKE,50428.0,POINT (-93.613385 43.105949),17.0,CERRO GORDO,...,5.25,3,15.75,2.25,0.59,171.0,20.0,19.0,16.0,"1,785"
1,INV-07790400037,10/09/2017,2651,HY-VEE / WAVERLY,1311 4 STREET SW,WAVERLY,50677.0,POINT (-92.475403 42.712263),9.0,BREMER,...,11.25,12,135.00,9.00,2.38,119.0,14.0,190.0,28.0,177
2,INV-07747400001,10/05/2017,3831,THE MARKET OF MADRID,301 ANNEX RD,MADRID,50156.0,POINT (-93.815365 41.87894000000001),8.0,BOONE,...,36.12,6,216.72,10.50,2.77,264.0,25.0,314.0,52.0,"1,368"
3,INV-07622300001,10/03/2017,5140,A TO Z LIQUOR,"114, S 2ND ST",CHEROKEE,51012.0,POINT (-95.55132 42.749013),18.0,CHEROKEE,...,18.75,6,112.50,4.50,1.19,286.0,37.0,429.0,23.0,181
4,INV-07688900026,10/04/2017,2623,HY-VEE FOOD STORE #4 / SIOUX CITY,2827 HAMILTON BLVD,SIOUX CITY,51104.0,POINT (-96.417783 42.519886),97.0,WOODBURY,...,5.25,12,63.00,9.00,2.38,248.0,35.0,213.0,36.0,"1,891"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27489738,INV-07782800011,10/06/2017,4268,FAREWAY STORES #531 / ALGONA,1905 HIGHWAY 18 E,ALGONA,50511.0,POINT (-94.214064 43.082782),55.0,KOSSUTH,...,9.71,4,38.84,3.00,0.79,540.0,24.0,165.0,6.0,"1,794"
27489739,INV-07743100018,10/05/2017,4539,CASEY'S GENERAL STORE #40 / SCRANTON,900 LOCUST ST,SCRANTON,51462.0,POINT (-94.551577 42.02248),37.0,GREENE,...,7.2,5,36.00,2.50,0.66,560.0,27.0,330.0,51.0,"1,783"
27489740,INV-07829100005,10/09/2017,5299,PEARL CITY TOBACCO & LIQUOR OUTLET,"200, GREEN STREET",MUSCATINE,52761.0,POINT (-91.05788 41.413877),70.0,MUSCATINE,...,45.0,3,135.00,10.50,2.77,445.0,56.0,87.0,68.0,"1,835"
27489741,INV-07731700060,10/05/2017,2528,HY-VEE FOOD STORE #3 / DES MOINES,3221 SE 14TH ST,DES MOINES,50315.0,NaN,77.0,POLK,...,22.5,246,"5,535.00",430.50,113.73,NaN,NaN,NaN,NaN,NaN
27489742,INV-07657700040,10/04/2017,2806,OSCO #881 / CLINTON,1307 N SECOND,CLINTON,52732.0,POINT (-90.184797 41.858932),23.0,CLINTON,...,17.94,6,107.64,10.50,2.77,402.0,56.0,82.0,55.0,"1,745"

In [3]:
df = df.rename(columns={
    "Invoice/Item Number": "invoice_item_number",
    "Date": "date_of_sale",
    "Store Number": "store_number",
    "Store Name": "store_name",
    "Address": "store_address",
    "City": "store_city",
    "Zip Code": "store_zip_code",
    "Store Location": "store_location",
    "County Number": "store_county_number",
    "County": "store_county",
    "Category": "item_category",
    "Category Name": "category_name",
    "Vendor Number": "vendor_number",
    "Vendor Name": "vendor_name",
    "Item Number": "item_number",
    "Item Description": "item_description",
    "Pack": "pack",
    "Bottle Volume (ml)": "bottle_volume",
    "State Bottle Cost": "state_bottle_cost",
    "State Bottle Retail": "state_bottle_retail",
    "Bottles Sold": "bottles_sold",
    "Sale (Dollars)": "sale_dollars",
    "Volume Sold (Liters)": "volume_sold_liters",
    "Volume Sold (Gallons)": "volume_sold_gallons",
    "Iowa ZIP Code Tabulation Areas": "iowa_zip_code_tabulation_areas",
    "Iowa Watershed Sub-Basins (HUC 08)": "iowa_watershed_sub_basins",
    "Iowa Watersheds (HUC 10)": "iowa_watersheds",
    "County Boundaries of Iowa": "county_boundaries_of_iowa",
    "US Counties": "us_counties"
})

df['new_col'] = df['item_description'] + "new"

df = df.drop('new_col', axis=1)

df

,invoice_item_number,date_of_sale,store_number,store_name,store_address,store_city,store_zip_code,store_location,store_county_number,store_county,...,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons,iowa_zip_code_tabulation_areas,iowa_watershed_sub_basins,iowa_watersheds,county_boundaries_of_iowa,us_counties
0,INV-07718300026,10/05/2017,4091,FAREWAY STORES #705 / CLEAR LAKE,910 HWY 18 W,CLEAR LAKE,50428.0,POINT (-93.613385 43.105949),17.0,CERRO GORDO,...,5.25,3,15.75,2.25,0.59,171.0,20.0,19.0,16.0,"1,785"
1,INV-07790400037,10/09/2017,2651,HY-VEE / WAVERLY,1311 4 STREET SW,WAVERLY,50677.0,POINT (-92.475403 42.712263),9.0,BREMER,...,11.25,12,135.00,9.00,2.38,119.0,14.0,190.0,28.0,177
2,INV-07747400001,10/05/2017,3831,THE MARKET OF MADRID,301 ANNEX RD,MADRID,50156.0,POINT (-93.815365 41.87894000000001),8.0,BOONE,...,36.12,6,216.72,10.50,2.77,264.0,25.0,314.0,52.0,"1,368"
3,INV-07622300001,10/03/2017,5140,A TO Z LIQUOR,"114, S 2ND ST",CHEROKEE,51012.0,POINT (-95.55132 42.749013),18.0,CHEROKEE,...,18.75,6,112.50,4.50,1.19,286.0,37.0,429.0,23.0,181
4,INV-07688900026,10/04/2017,2623,HY-VEE FOOD STORE #4 / SIOUX CITY,2827 HAMILTON BLVD,SIOUX CITY,51104.0,POINT (-96.417783 42.519886),97.0,WOODBURY,...,5.25,12,63.00,9.00,2.38,248.0,35.0,213.0,36.0,"1,891"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27489738,INV-07782800011,10/06/2017,4268,FAREWAY STORES #531 / ALGONA,1905 HIGHWAY 18 E,ALGONA,50511.0,POINT (-94.214064 43.082782),55.0,KOSSUTH,...,9.71,4,38.84,3.00,0.79,540.0,24.0,165.0,6.0,"1,794"
27489739,INV-07743100018,10/05/2017,4539,CASEY'S GENERAL STORE #40 / SCRANTON,900 LOCUST ST,SCRANTON,51462.0,POINT (-94.551577 42.02248),37.0,GREENE,...,7.2,5,36.00,2.50,0.66,560.0,27.0,330.0,51.0,"1,783"
27489740,INV-07829100005,10/09/2017,5299,PEARL CITY TOBACCO & LIQUOR OUTLET,"200, GREEN STREET",MUSCATINE,52761.0,POINT (-91.05788 41.413877),70.0,MUSCATINE,...,45.0,3,135.00,10.50,2.77,445.0,56.0,87.0,68.0,"1,835"
27489741,INV-07731700060,10/05/2017,2528,HY-VEE FOOD STORE #3 / DES MOINES,3221 SE 14TH ST,DES MOINES,50315.0,NaN,77.0,POLK,...,22.5,246,"5,535.00",430.50,113.73,NaN,NaN,NaN,NaN,NaN
27489742,INV-07657700040,10/04/2017,2806,OSCO #881 / CLINTON,1307 N SECOND,CLINTON,52732.0,POINT (-90.184797 41.858932),23.0,CLINTON,...,17.94,6,107.64,10.50,2.77,402.0,56.0,82.0,55.0,"1,745"

In [4]:
df.to_csv("data/Updated_Iowa_Liquor_Sales.csv")

In [5]:
df.describe()

,store_number,store_county_number,item_category,vendor_number,pack,iowa_zip_code_tabulation_areas,iowa_watershed_sub_basins,iowa_watersheds,county_boundaries_of_iowa
count,2.748974e+07,2.413284e+07,2.747277e+07,2.748973e+07,2.748974e+07,2.498306e+07,2.498306e+07,2.498306e+07,2.498306e+07
mean,3.858839e+03,5.725913e+01,1.049859e+06,2.709542e+02,1.215955e+01,5.045158e+02,2.711905e+01,2.490723e+02,5.185244e+01
std,1.210793e+03,2.728710e+01,8.139777e+04,1.440413e+02,7.741659e+00,2.662017e+02,1.367121e+01,1.134831e+02,2.126315e+01
min,2.106000e+03,1.000000e+00,1.012200e+05,1.000000e+01,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00
25%,2.621000e+03,3.100000e+01,1.012200e+06,1.150000e+02,6.000000e+00,2.330000e+02,1.800000e+01,1.370000e+02,3.500000e+01
50%,3.869000e+03,6.200000e+01,1.031200e+06,2.600000e+02,1.200000e+01,5.230000e+02,2.500000e+01,2.640000e+02,5.700000e+01
75%,4.748000e+03,7.700000e+01,1.062400e+06,3.950000e+02,1.200000e+01,7.670000e+02,3.500000e+01,3.320000e+02,6.400000e+01
max,1.027000e+04,9.900000e+01,1.901200e+06,9.870000e+02,3.360000e+02,9.350000e+02,5.600000e+01,5.340000e+02,9.900000e+01